<div class="container-card">
    <mat-card class="example-card">
        <mat-card-header style="margin-left:80px">
            <mat-card-title>TechNurse - Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" 
                         required>
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="senha" type="password" formControlName="password"
                        autocomplete="password" required>
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                
                <div style="text-align:center">
                    <button mat-raised-button [disabled]="!loginForm.valid" color="primary">Logar</button>

                    <!-- <div class="loading-shade">
                        <mat-spinner [style.display]="(logando$ | async) ? 'block' : 'none'"></mat-spinner>
                    </div> -->
                </div>

               

            </form>


        </mat-card-content>
    </mat-card>
    
</div>