<div class="container-card">
    <mat-card class="example-card">
        <mat-card-header style="margin-left:80px">
            <mat-card-title>
                <img src="../../assets/images/technurse_logo.PNG" alt="logo">
            </mat-card-title>
            <mat-card-subtitle *ngIf="!cadastrado" style="color: black; text-align: center; font-weight: bold;">
                Crie sua conta
            </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content *ngIf="!cadastrado">
            <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registrar()">
                <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input (keyup)="calcularProgressBar()" matInput placeholder="senha" type="password"
                        formControlName="password" autocomplete="password" required>
                    <mat-hint align="start" style="top: 0%; margin-top: 0; width: 100%;">

                        <mat-grid-list cols="3" rowHeight="10px">
                            <mat-grid-tile>
                                <mat-progress-bar [mode]="determinate" [appProgressBarColor]="progressColor[0]"
                                    value="100">
                                </mat-progress-bar>
                            </mat-grid-tile>
                            <mat-grid-tile>

                                <mat-progress-bar [mode]="determinate" [appProgressBarColor]="progressColor[1]"
                                    value="100">
                                </mat-progress-bar>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-progress-bar [mode]="determinate" [appProgressBarColor]="progressColor[2]"
                                    value="100">
                                </mat-progress-bar>
                            </mat-grid-tile>
                        </mat-grid-list>

                    </mat-hint>
                </mat-form-field>

                <div style="display: block;">
                    <span style="display: block; ">
                        <mat-icon *ngIf="!passwordErrors?.leastSixCharacter" color="primary">done</mat-icon>
                        <mat-icon *ngIf="passwordErrors?.leastSixCharacter" color="warn">clear</mat-icon>
                        <span style="vertical-align: top;  color: gray;">Pelo menos 6 caracteres</span>

                    </span>
                    <span style="display: block;">
                        <mat-icon *ngIf="!passwordErrors?.leastOneUpperCaseLetter" color="primary">done</mat-icon>
                        <mat-icon *ngIf="passwordErrors?.leastOneUpperCaseLetter" color="warn">clear</mat-icon>
                        <span style="vertical-align: top;  color: gray;">Pelo menos 1 letra maiúscula</span>

                    </span>
                    <span style="display: block;">
                        <mat-icon *ngIf="!passwordErrors?.leastOneNumber" color="primary">done</mat-icon>
                        <mat-icon *ngIf="passwordErrors?.leastOneNumber" color="warn">clear</mat-icon>

                        <span style="vertical-align: top; color: gray;">Pelo menos 1 número</span>
                    </span>
                </div>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirme sua senha" type="password" formControlName="confirmarPassword"
                        autocomplete="password" required>
                    <mat-error *ngIf="!camposConferem()">As senhas não conferem</mat-error>
                </mat-form-field>

                <div style="text-align:center;  display: grid;">
                    <button mat-raised-button [disabled]="!registerForm.valid || !camposConferem()"
                        color="primary">Criar conta</button>

                    <!-- <div class="loading-shade">
                        <mat-spinner [style.display]="(logando$ | async) ? 'block' : 'none'"></mat-spinner>
                    </div> -->
                </div>

            </form>

        </mat-card-content>
        <mat-card-content *ngIf="cadastrado" >
            <span style="padding: 10px; display: block; text-align: -webkit-center;">
                <mat-icon color="primary" style="font-size: 50px !important; width: 100%;">check_circle_outline
                </mat-icon>
                <div><strong>Tudo certo</strong></div>
                <div style="width: 60%;">Verifique sua caixa de entrada para confirmar seu email.</div>
                <a routerLink="/login">Login</a>
            </span>

        </mat-card-content>
    </mat-card>

</div>