/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-teal, A400);
  $accent: mat-palette($mat-orange,200);
  $cinza: mat-palette($mat-grey, 400);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-hint-spacer {
  flex: 0 0 0 !important;
}

.green-snackbar {
  background: #16c498;
}